* {
  margin: 0%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar{
  background-color:black ;
  padding: 30px;
}

.navbar h1{
  text-align: center;
  font-size: 3rem;
  color: bisque;
}

.greetings{
  background-color: black;
  padding: 50;

}
.greetings h1{
  color: aliceblue;
  padding: 15px, 0, 15px, 0;
  font-size: 38px;
}

input{
  color: black;
  border-radius: 89px;
    padding: 10px 26px;
    outline: 0;
}