* {
  margin: 0%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar{
  background-color:black ;
  padding: 30px;
}

.navbar h1{
  text-align: center;
  font-size: 3rem;
  color: bisque;
}

.greetings{
  background-color: black;
  padding: 50;

}
.greetings h1{
  color: aliceblue;
  padding: 15px, 0, 15px, 0;
  font-size: 38px;
}

input{
  color: black;
  border-radius: 89px;
    padding: 10px 26px;
    outline: 0;
}

.options{
      display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 1.5rem;
        grid-gap: 1.5rem;
}

.options .split{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  background-color: yellow;
      border-radius: 0.5rem;
        box-shadow: var(--shadow);
        cursor: pointer;
}